
@media all and (min-width: 376px){
    #conteneur1_mobile{
        display: none;
    }

    .titre1_2_mobile{
        display: none;
    }

    .div_recherche_mobile{
        display: none;
    }

    .filtres_mobile{
        display: none;
    }

    #section_trendings_mobile{
        display: none;
    }

    .conteneur3_mobile{
      display: none;
    }

    .section_activites_mobile{
       display: none;
    }
}


@media all and (max-width: 375px){

    .titre1_2_tab{
        display: none;
    }

    .div_recherche_tab{
        display: none;
    }

    .filtres_tab{
        display: none;
    }

    .conteneur4_tab{
        display: none;
    }

    .conteneur3_tab{
        display: none;
    }

    body{
        padding-left: 0px;
    }

    #section_activites_tab{
        display: none;
    }

    html{
        width: 375px;
        margin: auto;
    }
    
    body{
        width: 375px;
        margin: auto;
    }
    
    #block_page{
        width: 375px;
        margin: auto;
    }
    
    h1{
        font-family: 'releway_bold';
        font-size: 22px;
    }
    
    h2{
        font-family: 'releway_bold';
        font-size: 16px;
    }
    
    h3{
        font-family: 'releway_bold';
        font-size: 16px;
    }
    
    /*h4{
        font-family: 'releway_regular';
        font-size: 16px;
    }*/
    
    p{
        font-family: 'releway_regular';
        font-size: 14px;
    }
    
    a{
        text-decoration:none;
    }  
    
    footer{
        width: 100%;
        height: 370px;
        background-color: #F2F2F2;
        margin-top: 8%;
        padding-top: 5%;
    }
    
    
    .conteneur1_pc{
        display: none;
    }
    
    #conteneur1_mobile{
        display: flex;
        flex-direction: column;
    }

    .nav_hebergements_mobile, .nav_activites_mobile{
        width: 50%;
        height: 100%;
        font-family: 'releway_regular';
        font-size: 16px;
        color: black;
        border-bottom: 2px solid #F2F2F2;
        text-align: center;
    }
    
    .nav_hebergements_mobile:hover, .nav_activites_mobile:hover{
        border-bottom: 2px solid blue;
        color: #0065FC !important;
    }
    
    .nav_hebergements_mobile:hover a, .nav_activites_mobile:hover a{
        color: #0065FC !important;
    }
    
    .nav_signup {
        font-family: 'releway_bold';
        font-size: 16px;
        color: #0065FC;
    }

    .part1{
        display: flex;
        justify-content: space-between;
        width: 85%;
        margin: auto;
        align-items: center;
        line-height: 1;
    }
    
    .part2{
        width: 100%;
        display: flex;
        justify-content: space-around;
        line-height: 0; 
    }
    
    .titre1_2_mobile{
        display: flex;
        flex-direction: column;
    }

    .titre1_mobile{
        width: 85%;
        margin: auto;
        line-height: 23px;
    }
    
    .titre2{
        width: 85%;
        margin: auto;
        padding-top: 3%;
    }
    
    .titre1_2{
        display: none;
    }

    .conteneur2{
        height: 480px;
        margin-top: 5%;
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .div_recherche{
        display: none;
    }

    .div_recherche_mobile{
        width: 85%;
        height: 50px;
        margin-left: 7.5%;
        margin-top: 7%;
        margin-bottom: 4%;
        display: flex;
        justify-content: space-between;
        border: 2px #e2e2e2 solid;
        border-radius: 17px;
    }
    
    .icone_position{
        width: 14%;
        background-color: #F2F2F2;
        border-radius: 17px 0px 0px 17px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .clavier{
        width: 71%;
        height: 100%;
        
    }
    
    .bouton{
        width: 16%;
        background-color:#0065FC; 
        border-radius: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
    } 
    
    .lien_span{
        position: absolute;
        width: 120px;
        height: 55px;
        top: 173px;
        left: auto;
    }
    
    input{
        width: 90%;
        height: 100%;
        padding-left: 5%;
        border: none;
        font-size: 16x;
        font-family: 'releway_bold';
        color: black;
        align-items: center;
    }
    
    input:focus{
        outline: none;
    }
    
    .fa-search{
        color: white;
        width: 50%;
        display: flex;
        justify-content: center;
    
    }

    .filtres{
        display: none;
    }

    .filtres_mobile{
        width: 85%;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .fa-money-check-alt{
        font-size: 14px;
    }

    .fa-male{
        font-size: 14px;
    }

    .fa-heart{
        font-size: 14px;
    }

    .fa-dog{
        font-size: 14px;
    }

    .economique_famillial{
        display: flex;
        justify-content: space-between;
    }
    
    .economique{
        width: 160PX;
        height: 50px;
        display: flex;
        border: 2px #e2e2e2 solid;
        border-radius: 50px;
        cursor: pointer;
    }
    
    .famillial{
        width: 140px;
        height: 50px;
        display: flex;
        align-items: center;
        border: 2px #e2e2e2 solid;
        border-radius: 50px;
        cursor: pointer;
    }
    
    .romantique{
        width: 180px;
        height: 50px;
        display: flex;
        align-items: center;
        border: 2px #e2e2e2 solid;
        border-radius: 50px;
        cursor: pointer;
    }
    
    .animaux{
        width: 220px;
        height: 50px;
        display: flex;
        align-items: center;
        border: 2px #e2e2e2 solid;
        border-radius: 50px;
        cursor: pointer;
    }
    
    .icone_economique{
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        background-color: #DEEBFF;
        align-items: center;
        border-radius: 50px 50px 50px 50px;
    }
    
    .icone_famillial{
        width: 50px;
        height: 50px;
     
        display: flex;
        justify-content: center;
        background-color: #DEEBFF;
        align-items: center;
        border-radius: 50px 50px 50px 50px;
    }
    
    .icone_romantique{
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        background-color: #DEEBFF;
        align-items: center;
        border-radius: 50px 50px 50px 50px;
    }
    
    .icone_animaux{
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        background-color: #DEEBFF;
        align-items: center;
        border-radius: 50px 50px 50px 50px;
    }
    
    .nom_filtre{
        width: 73%;
        display: flex;
        justify-content: center;
    }
    
    .nom_filtre1{
        width: 73%;
        display: flex;
        justify-content: center;
    }
    
    .texte500{
        width: 85%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 2%;
    }
    
    .texte{
        width: 93%;
    }
    
    .icone_info{
        width: 7%;
    }
    
    .section_hebergements_trending{
        display: none;
    }

    #section_trendings_mobile{
        background-color: #F2F2F2;
        width: 100%;
        height: 550px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    
    .titre4{
        width: 85%;
        height: 30px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 3%;
        padding-bottom: 5%;
    }
    
    .hotel7{
        display: flex;
        background-color: white;
        height: 130px;
        width: 85%;
        border-radius: 20px;
        padding: 5px;
        box-shadow:  2px 2px 10px #b6b6b6;
        margin: auto;
    }
    
    .hotel8{
        display: flex;
        justify-content: flex-start;
        background-color: white;
        height: 130px;
        width: 85%;
        border-radius: 20px;
        padding: 5px;
        box-shadow:  2px 2px 10px #b6b6b6;
        margin: auto;
    }
    
    .hotel9{
        display: flex;
        background-color: white;
        height: 130px;
        width: 85%;
        border-radius: 20px;
        padding: 5px;
        box-shadow:  2px 2px 10px #b6b6b6;
        margin: auto;
    }
    
    .imghotel7{
        width: 37%;
        height: 100%;
        border-radius: 20px 0px 0px 20px;
        background-image: url(images/hebergements/4_small/soleil\ du\ matin.jpg);
        background-size: cover;
    }
    
    .imghotel8{
        width: 37%;
        height: 100%;
        border-radius: 20px 0px 0px 20px;
        background-image: url(images/hebergements/4_small/au\ coeur\ de\ leau.jpg);
        background-size: cover;
    }
    
    .imghotel9{
        width: 37%;
        height: 100%;
        border-radius: 20px 0px 0px 20px;
        background-image: url(images/hebergements/4_small/tout\ bleu\ et\ blanc.jpg);
        background-size: cover;
    }
    
    .description{
        width: 55%;
        margin-left: 6%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .titre_prix{
        height: 30%;
        width: 85%;
        margin-top: 5%;
    }
    
    .titre_hotel7_8_9{
        line-height: 20px;
        margin: 0;
    }
    
    .prix_hotel7_8_9{
        line-height: 20px;
        margin-top: 5px;
    }
    
    .fa-star {
        color: #e2e2e2;
        cursor: pointer;
        padding: 0.0625rem;
        justify-content: center;
        line-height: 0;
        font-size: 14px;
    }
    
    .fa-star.bleu{
        color: #0065FC;
    }
    
    .div_stars{
        display: inline-flex;
        font-size: 37px;
        width: 80%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 8%;
    }
    
    .stars{
        display: flex;
        justify-content: flex-start;
    }
    
    .section_hebergements_mobile{
        width: 100%;
        height: 1400px;
        margin : auto;
    }

    .conteneur3_mobile {
        width: 85%;
        height: 100%;
        margin : auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .titre3{
        width: 90%;   
        height: 50px;
        margin-left: 3%;
        
    }
    
    .nomhotel{
        margin: 0px
    }
    .hotel1{
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 100%;
        height: 180px;
        padding: 5px;
        border-radius: 20px;
        box-shadow:  2px 2px 10px #b6b6b6; 
    }
    
    .hotel2{
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 100%;
        height: 180px;
        padding: 5px;
        border-radius: 20px;
        box-shadow:  2px 2px 10px #b6b6b6;
    }
    
    .hotel3{
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 100%;
        height: 180px;
        padding: 5px;
        border-radius: 20px;
        box-shadow:  2px 2px 10px #b6b6b6;
    }
    
    .hotel4{
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 100%;
        height: 180px;
        padding: 5px;
        border-radius: 20px;
        box-shadow:  2px 2px 10px #b6b6b6;
    }
    
    .hotel5{
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 100%;
        height: 180px;
        padding: 5px;
        border-radius: 20px;
        box-shadow:  2px 2px 10px #b6b6b6;
    }
    
    .hotel6{
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 100%;
        height: 180px;
        padding: 5px;
        border-radius: 20px;
        box-shadow:  2px 2px 10px #b6b6b6;
    }
    
    .imghotel{
        width: 100%;
        height: 60%;
        border-radius: 20px 20px 0px 0px;
        background-image: url(images/hebergements/4_small/cannebiere.jpg);
        background-size: cover;
    }
    
    .imghotel2{
        width: 100%;
        height: 60%;
        border-radius: 20px 20px 0px 0px;
        background-image: url(images/hebergements/4_small/port.jpg);
        background-size: cover;
    }
    
    .imghotel3{
        width: 100%;
        height: 60%;
        border-radius: 20px 20px 0px 0px;
        background-image: url(images/hebergements/4_small/mouettes.jpg);
        background-size: cover;
    }
    
    .imghotel4{
        width: 100%;
        height: 60%;
        border-radius: 20px 20px 0px 0px;
        background-image: url(images/hebergements/4_small/hotel\ de\ la\ mer.jpg);
        background-size: cover;
    }
    
    .imghotel5{
        width: 100%;
        height: 60%;
        border-radius: 20px 20px 0px 0px;
        background-image: url(images/hebergements/4_small/panier.jpg);
        background-size: cover;
    }
    
    .imghotel6{
        width: 100%;
        height: 60%;
        border-radius: 20px 20px 0px 0px;
        background-image: url(images/hebergements/4_small/chez\ amina.jpg);
        background-size: cover;
    }
    
    .descriptionimghotel{
        line-height: 10px;
        width: 100%;
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 3%;
        margin-left: 3%;
    }
    
    .txt{
        margin: 0;
    }
    
    .nomhotel{
        line-height: 0;
    }


    .plus_mobile{
        width: 100%;
        padding-bottom: 0px;
        margin-left: 3%;
    }

    /* Désactivation de la section activités pc */
    #section_activites{
        display: none;
    }

    .conteneur5_mobile{
        width: 85%;
        height: 1350px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 3%;
    }
    
    .titre5{
        width: 100%;
        padding-top: 3%;
    }
    .activite1{
        width: 100%;
        height: 200px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        box-shadow:  2px 2px 10px #e2e2e2;
    }
    
    .activite2{
        width: 100%;
        height: 200px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        box-shadow:  2px 2px 10px #e2e2e2;
    }
    
    .activite3_mobile{
        width: 100%;
        height: 200px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        box-shadow:  2px 2px 10px #e2e2e2;
    }
    
    .activite4{
        width: 100%;
        height: 200px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        box-shadow:  2px 2px 10px #e2e2e2;
        
    }
    
    .activite5{
        width: 100%;
        height: 200px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        box-shadow:  2px 2px 10px #e2e2e2;
    }
    
    .activite6_mobile{
        width: 100%;
        height: 200px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        box-shadow:  2px 2px 10px #e2e2e2;
    }
    
    .imgactivite1{
        width: 100%;
        height: 75%;
        border-radius: 20px 20px 0px 0px;
        background-image: url(images/activites/4_small/vieux\ port.jpg);
        background-size: cover;
    }
    
    .imgactivite2{
        width: 100%;
        height: 75%;
        border-radius: 20px 20px 0px 0px;
        background-image: url(images/activites/4_small/fort\ de\ paumegues.jpg);
        background-size: cover;
    }
    
    .imgactivite3{
        width: 100%;
        height: 75%;
        border-radius: 20px 20px 0px 0px;
        background-image: url(images/activites/4_small/frioul.jpg);
        background-size: cover;
    }
    
    .imgactivite4{
        width: 100%;
        height: 75%;
        border-radius: 20px 20px 0px 0px;
        background-image: url(images/activites/4_small/par\ national.jpg);
        background-size: cover;
    }
    .imgactivite5{
        width: 100%;
        height: 75%;
        border-radius: 20px 20px 0px 0px;
        background-image: url(images/activites/4_small/notre\ dame.jpg);
        background-size: cover;
    }
    
    .imgactivite6{
        width: 100%;
        height: 75%;
        border-radius: 20px 20px 0px 0px;
        background-image: url(images/activites/4_small/parc\ longchamp.jpg);
        background-size: cover;
    }
    
    .titreimgactivite{
        height: 12%;
        display: flex;
        flex-direction: column;
        margin-left: 4%;
    }
    

    footer{
        width: 100%;
        height: 370px;
        background-color: #F2F2F2;
        margin-top: 8%;
    }
    
    .footer{
        width: 85%;
        height: 370px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .section_footer1{
        margin-left: 10px;
    }
    
    .section_footer2{
        margin-left: 10px;
    }
}