@media all and (min-width: 780px){
    .conteneur1_tab{
        display: none;
    }

    .titre1_2_tab{
    display: none;
    }

    /*.div_recherche_tab{
    display: none;
    }

    .filtres_tab{
    display: none;
    }

    .conteneur4_tab{
    display: none;
    }

    .conteneur3_tab{
    display: none;
    }

    #section_activites_tab{
    display: none;
    }

    .footer_tab{
        display: none;
    }*/
}

@media all and (max-width: 780px) and (min-width: 376px){
      

    
    #block_page{
        width: 85%;
        margin: auto;
    }

    html{
        width: 780px;
        margin: auto;
    }

    h1{
        font-family: 'releway_bold';
        font-size: 22px;
    }
    
    h2{
        font-family: 'releway_bold';
        font-size: 18px;
    }
    
    h3{
        font-family: 'releway_bold';
        font-size: 16px;
    }
    
    /*h4{
        font-family: 'releway_regular';
        font-size: 16px;
    }*/
    
    p{
        font-family: 'releway_regular';
        font-size: 16px;
    }

    a{
        font-family: 'releway_regular';
    }

    .reservia{
        width: 140px;
        height: 60px;
    }

    .titre_nav_tab{
        font-size: 16px;
    }

    .conteneur1_pc{
        align-items: center;
    }
    
    .logo_reservia{
        width: 50%;
    }
    
    .navigation{
        display: flex;
        justify-content: space-around;
        width: 50%;
    }

    .nav_hebergements, .nav_activites, .nav_signup{
        font-family: 'releway_regular';
        font-size: 18px;
        padding-top: 20px;
    }

    .conteneur2{
        margin-bottom: 2%;
    }

    .titre1_pc{
        font-size: 22px;
    }

    .titre2_pc{
        font-size: 16px;
    }
    
    .div_recherche{
        width: 50%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        border-radius: 15px;
    }
        
    .icone_position{
        width: 22%;
        background-color: #F2F2F2;
        border-radius: 15px 0px 0px 15px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .clavier{
        width: 58%;
        padding-left: 5%;
    }
    
    form{
        width: 100%;
        height: 100%;
    }
    
    input{
        width: 99%;
        height: 90%;
        border: none;
        font-size: 14px;
        font-family: 'releway_regular';
        border-bottom: 1.5px solid #F2F2F2;
        border-top: 1.5px solid #F2F2F2;
    }
    
    input:focus{
        outline: none;
    }

    .bouton{
        width: 22%;
        background-color:#0065FC; 
        border-radius: 0px 15px 15px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }
    
    .fa-search{
        color: white;
    }
    
    .lien_span{
        position: absolute;
        width: 120px;
        height: 55px;
        z-index: 2;
        top: 173px;
        left: auto;
    }

    .filtres{
        width: 100%;
        height: 125px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top : 4%;
        margin-bottom : 2%;
        border-radius: 10px;
    }
    
    .eco_famillial_rom{
        display: flex;
        justify-content: space-between;
        height: 55px;
        width: 100%;
    }
    
    .economique{
        width: 185px;
        height: 50px;
        display: flex;
        border: 2px #e2e2e2 solid;
        border-radius: 50px;
        cursor: pointer;
    }
    
    .famillial{
        width: 160px;
        height: 50px;
        display: flex;
        align-items: center;
        border: 2px #e2e2e2 solid;
        border-radius: 50px;
        cursor: pointer;
    }
    
    .romantique{
        width: 185px;
        height: 50px;
        display: flex;
        align-items: center;
        border: 2px #e2e2e2 solid;
        border-radius: 50px;
        cursor: pointer;
    }
    
    .animaux{
        width: 250px;
        height: 50px;
        display: flex;
        align-items: center;
        border: 2px #e2e2e2 solid;
        border-radius: 50px;
        cursor: pointer;
    }
    
    .icone_economique{
        width: 53px;
        height: 50px;
        display: flex;
        justify-content: center;
        background-color: #DEEBFF;
        align-items: center;
        border-radius: 50px 50px 50px 50px;
    }
    
    .icone_famillial{
        width: 53px;
        height: 50px;
        padding: 2px;
        display: flex;
        justify-content: center;
        background-color: #DEEBFF;
        align-items: center;
        border-radius: 50px 50px 50px 50px;
    }
    
    .icone_romantique{
        width: 53px;
        height: 50px;
        display: flex;
        justify-content: center;
        background-color: #DEEBFF;
        align-items: center;
        border-radius: 50px 50px 50px 50px;
    }
    
    .icone_animaux{
        width: 53px;
        height: 50px;
        display: flex;
        justify-content: center;
        background-color: #DEEBFF;
        align-items: center;
        border-radius: 50px 50px 50px 50px;
    }
    
    .nom_filtre{
        width: 73%;
        display: flex;
        justify-content: center;
    }
    
    .nom_filtre1{
        width: 73%;
        display: flex;
        justify-content: center;
    }

    .texte500{
        width: 68%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .section_hebergements_trending{
        width: 100%;
        height: 1340px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .conteneur4 {
        order: -1;
        width: 94%;
        height: 360px;
        background-color: #F2F2F2;
        padding: 20px;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .hotel7, .hotel8, .hotel9{
        display: flex;
        background-color: white;
        height: 130px;
        width: 45%;
        border-radius: 20px;
        padding: 5px;
        box-shadow:  2px 2px 20px #b6b6b6;
        cursor: pointer;
        margin: auto;
    }

    .hotel9{
        margin-left: 10px;
    }

    .div_img2{
        max-width: 40%;
        height: auto;
    }
    
    .imghotel2{
        width: 100%;
        height: 100%;
        border-radius: 15px 0px 0px 15px;
    }
    
    .titre4{
        width: 90%;
        height: 30px;
        margin-left: 2%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .icone_trend{
        cursor: pointer;
    }

    .description{
        width: 90%;
        height: 110px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 10px;
    }

    .nomhotel_trending{
        line-height: 20px;
        margin: 0;
    }
    
    .txt_trending{
        line-height: 0px;
        height: 30px;
        width: 100%;
    }

    .conteneur3 {
        width: 94%;
        height: 900px;
        background-color: #F2F2F2;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        padding: 20px;
        margin-top: 50px;
    }
    
    .conteneur3_1, .conteneur3_2{
        width: 45%;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 90px;
        padding-right: 40px;
    }

    .conteneur3_2{
        margin-right: 60px;
    }
    
    .conteneur3_3{
        height: 230px;
        display: flex;
        justify-content: space-around;
    }

    .div_img{
        width: 100%;
        height: 60%;
    }
    
    .imghotel{
        width: 100%;
        height: 125px;
        border-radius: 15px 15px 0px 0px;
    }
    
    
    
    
    
    .hotel1, .hotel2, .hotel3, .hotel4, .hotel5, .hotel6{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: white;
        width: 275px;
        height: 205px;
        padding: 5px;
        border-radius: 20px;
        box-shadow:  2px 2px 20px #b6b6b6;
        cursor: pointer;
        margin: auto;
    }
        
    .titre3{
        width: 90%;   
        height: 50px;
        margin-left: 3%;
        margin-top: 1%;
        position: relative;
        top: 0px;
        left: 170px;
    }

    .plus{
        height: 5%;
        width: 25%;
        display: flex;
        flex-direction: column;
        align-content: center;
        cursor: pointer;
        padding-left: 3%;
        position: relative;
        top: 800px;
        left: -700px;
    }

    #ancre1{
        margin: auto;
    }
    

    
    .nomhotel{
        margin: 0px
    }
    
    .txt{
        margin: 0px;
        font-size: 15px;
    }
    
    .descriptionimghotel{
        line-height: 1;
        width: 80%;
        height: 35%;
        display: flex;
        flex-direction: column;
        justify-content:  space-around;
        margin-left: 4%;
        margin-top: 8px;
    }
    
    
    .fa-star {
        color: #e2e2e2;
        cursor: pointer;
        padding: 0.0625rem;
    }
    
    .fa-star.bleu{
        color: #0065FC;
    }
    .stars{
        display: inline-flex;
    }

    #section_activites{
        margin-top: 50px;
        margin-bottom: 3%;
        height: 1050px;
    }

    
    .titre5{
        margin-left: 2%;
        padding-bottom: 1%;
    }
    
    .conteneur5{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 500px;
        margin-bottom: 50px;
        margin: auto;
    }
    
    .activite2_3, .activite5_6{
        width: 45%;
        
    }

    .activite1, .activite4 {
        width: 45%;
        height: 480px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        box-shadow:  2px 2px 20px #e2e2e2;
    }
    
    .activite2, .activite3, .activite5, .activite6{
        border-radius: 20px;
        width: 100%;
        height: 46%;
        display: flex;
        flex-direction: column;
        box-shadow:  2px 2px 20px #e2e2e2;
    }

    .activite2, .activite5{
        margin-bottom: -9px;
    }
    
    .div_imgactivite {
        width: 100%;
        height: 90%;
    }

    .div_imgactivite2, .div_imgactivite3{
        width: 100%;
        height: 75%;
    }

    
    .imgactivite, .imgactivite2, .imgactivite3{
        width: 100%;
        height: 100%;
        border-radius: 15px 15px 0px 0px;
    }

    
    
    .titreimgactivite{
        height: 12%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 4%;
    }

    .fa-map-marker-alt{
        vertical-align: middle;
        
    }
    
    footer{
        background-color: #F2F2F2;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin: auto;
    }

    .footer{
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 85%;
    }

    .section_footer1{
        margin-left: 0px;
    }
    
    .section_footer2{
        margin-left: 0;
    }

    .titre_footer{
        cursor: pointer;
    }
    
    .txt_footer{
        font-size: 14px;
    }
    
}   