
@media all and (min-width: 376px){
    #conteneur1_mobile{
        display: none;
    }

    .bouton2{
        display: none;
    }

    /*.titre1_2_mobile{
        display: none;
    }*/

    /*.div_recherche_mobile{
        display: none;
    }

    .filtres_mobile{
        display: none;
    }

    #section_trendings_mobile{
        display: none;
    }*/

    /*.conteneur3_mobile{
      display: none;
    }

    .section_activites_mobile{
       display: none;
    }*/
}


@media all and (max-width: 375px){

    .conteneur1_tab{
        display: none;
    }

    .titre1_2_tab{
        display: none;
    }

    .div_recherche_tab{
        display: none;
    }

    .filtres_tab{
        display: none;
    }

    .conteneur4_tab{
        display: none;
    }

    .conteneur3_tab{
        display: none;
    }

    body{
        padding-left: 0px;
        padding-right: 0px;
    }

    #section_activites_tab{
        display: none;
    }

    html{
        width: 375px;
        margin: auto;
    }

    #block_page{
        width: 100%;
        margin: auto;
    }
    
    h1{
        font-family: 'releway_bold';
        font-size: 20px;
    }
    
    h2{
        font-family: 'releway_bold';
        font-size: 16px;
    }
    
    h3{
        font-family: 'releway_bold';
        font-size: 16px;
    }
    
    /*h4{
        font-family: 'releway_regular';
        font-size: 16px;
    }*/
    
    p{
        font-family: 'releway_regular';
        font-size: 14px;
    }
    
    a{
        text-decoration:none;
        padding-top: 0px;
    }  
    
    footer{
        width: 100%;
        height: 370px;
        background-color: #F2F2F2;
        margin-top: 8%;
        padding-top: 5%;
    }
    
    .conteneur1_pc{
        flex-wrap: wrap;
        padding-right: -50px;
    } 

    #conteneur1_mobile{
        display: flex;
        flex-direction: column;
    }

    .reservia{
        width: 110px;
        height: 50px;
        margin-bottom: 35px;
        margin-left: 10px;
    }

    .nav_hebergements a, .nav_activites a{
        display: inline-block;
        width: 100%;
        text-align: center;
        height: 24px;
        font-size: 14px;
    }
    


    div.navigation div:hover  a{
        color: #0065FC;
        border-bottom: solid 2px #0065FC;
        border-top: 0px;
    }
    
    .nav_hebergements:hover a, .nav_activites:hover a{
        color: #0065FC ;
    } 
    
    .nav_signup {
        font-family: 'releway_bold';
        font-size: 16px;
        color: #0065FC;
        height: 63%;
        width: 80%;
        display: flex;
        justify-content: flex-end;
    }

    .part1, .div_logo_reservia{
        display: flex;
        justify-content: space-between;
        width: 85%;
        margin: auto;
        align-items: center;
        line-height: 1;

    }

    .nav_signup a{
        display: inline-block;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 14px;
    }

    .nav_hebergements, .nav_activites{
        height: 20px;
        border-bottom: 2px solid #e2e2e2;
        width: 50%;
        padding-bottom: 13px;
        margin-left: 0px;
    }

    .logo_reservia{
        position: absolute;
        left: 10px;
    }
    
    .part2, .navigation{
        width: 100%;
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: space-around;
        height: 92px;
    }
 
    .titre1_2{
        width: 85%; 
        margin: auto;
        margin-bottom: 15px;
     }

    .titre1_pc{
        line-height: 20px;
    }

    .titre2_pc{
        padding-bottom: 3%;
    }

    /*.titre1_2_mobile{
        display: flex;
        flex-direction: column;
    }

    .titre1_mobile{
        width: 85%;
        margin: auto;
        line-height: 23px;
    }*/
    
    .titre2{
        width: 85%;
        margin: auto;
        padding-top: 3%;
    }
    


    .conteneur2{
        height: 500px;
        margin-top: 5%;
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .div_recherche{
        width: 85%;
        height: 50px;
        margin-left: 7.5%;
        margin-top: 7%;
        margin-bottom: 4%;
        display: flex;
        justify-content: space-between;
        border: 2px #e2e2e2 solid;
        border-radius: 17px;
    }

    /*.div_recherche_mobile{
        width: 85%;
        height: 50px;
        margin-left: 7.5%;
        margin-top: 7%;
        margin-bottom: 4%;
        display: flex;
        justify-content: space-between;
        border: 2px #e2e2e2 solid;
        border-radius: 17px;
    }*/
    
    .icone_position{
        width: 22%;
        background-color: #F2F2F2;
        border-radius: 17px 0px 0px 17px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    input{
        width: 90%;
        height: 95%;
        padding-left: 5%;
        border: none;
        font-size: 16px;
        font-family: 'releway_bold';
        color: black;
        align-items: center;
    }
    
    input:focus{
        outline: none;
    }
    
    .bouton2{
        width: 22%;
        background-color:#0065FC; 
        border-radius: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        color: white;
        font-family: 'releway_bold';
        align-items: center !important;
        text-align: center;
        margin: auto;
        outline: none;
        border-color: transparent;
        cursor: pointer;
    } 

    .bouton_rechercher, .bouton {
        display: none;
    }
    
    .lien_span{
        position: absolute;
        width: 120px;
        height: 55px;
        top: 173px;
        left: auto;
    }
    

    
    .fa-search{
        color: white;
        width: 50%;
        display: flex;
        justify-content: center;
    
    }

    .filtres{
        width: 85%;
        height: 350px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .div_titre_filtres{
        width: 85%;
    }

   /* .filtres_mobile{
        width: 85%;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }*/
    
    .fa-money-check-alt{
        font-size: 14px;
    }

    .fa-male{
        font-size: 14px;
    }

    .fa-heart{
        font-size: 14px;
    }

    .fa-dog{
        font-size: 14px;
    }

    .economique_famillial{
        display: flex;
        justify-content: space-between;
    }
    
    .economique{
        width: 160PX;
        height: 50px;
        display: flex;
        border: 2px #e2e2e2 solid;
        border-radius: 50px;
        cursor: pointer;
        margin-right: 0px;
    }
    
    .famillial{
        width: 140px;
        height: 50px;
        display: flex;
        align-items: center;
        border: 2px #e2e2e2 solid;
        border-radius: 50px;
        cursor: pointer;
        margin-right: 0px;
    }
    
    .romantique{
        width: 180px;
        height: 50px;
        display: flex;
        align-items: center;
        border: 2px #e2e2e2 solid;
        border-radius: 50px;
        cursor: pointer;
        margin-right: 0px;
    }
    
    .animaux{
        width: 220px;
        height: 50px;
        display: flex;
        align-items: center;
        border: 2px #e2e2e2 solid;
        border-radius: 50px;
        cursor: pointer;
    }
    
    .icone_economique{
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        background-color: #DEEBFF;
        align-items: center;
        border-radius: 50px 50px 50px 50px;
    }
    
    .icone_famillial{
        width: 50px;
        height: 50px;
     
        display: flex;
        justify-content: center;
        background-color: #DEEBFF;
        align-items: center;
        border-radius: 50px 50px 50px 50px;
    }
    
    .icone_romantique{
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        background-color: #DEEBFF;
        align-items: center;
        border-radius: 50px 50px 50px 50px;
    }
    
    .icone_animaux{
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        background-color: #DEEBFF;
        align-items: center;
        border-radius: 50px 50px 50px 50px;
    }
    
    .nom_filtre{
        width: 73%;
        display: flex;
        justify-content: center;
    }
    
    .nom_filtre1{
        width: 73%;
        display: flex;
        justify-content: center;
    }
    
    .texte500{
        width: 85%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 2%;
    }
    
    .texte{
        width: 93%;
    }
    
    .icone_info{
        width: 7%;
    }
    
    .section_hebergements_trending{
        width: 100%;
        height: 1940px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .conteneur4{
        background-color: #F2F2F2;
        width: 100%;
        height: 550px;
        border-radius: 0px;
        padding: 0px;
        padding-bottom: 30px;
        margin-left: 0px;
    }

    .conteneur4{order: -1;}

    /*#section_trendings_mobile{
        background-color: #F2F2F2;
        width: 100%;
        height: 550px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 5%;
        padding-bottom: 5%;
    }*/

    .titre4{
        width: 85%;
        height: 30px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 5%;
    }


    
    .div_img2{
        max-width: 35%;
        height: auto;
    }
    
    .imghotel2{
        width: 100%;
        height: 100%;
        border-radius: 15px 0px 0px 15px;
    }
    

    
    .hotel7, .hotel8, .hotel9{
        display: flex;
        background-color: white;
        height: 130px;
        width: 85%;
        border-radius: 20px;
        padding: 5px;
        box-shadow:  2px 2px 10px #b6b6b6;
        margin: auto;
    }
    
    .description{
        width: 190px;
        height: 110px;
        margin-left: 6%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 10px;
    }

    .nomhotel_trending{
        line-height: 20px;
        margin: 0;
    }
    
    .txt_trending{
        line-height: 0px;
        height: 30%;
        width: 87%;
    }
    
    .fa-star {
        color: #e2e2e2;
        cursor: pointer;
        padding: 0.0625rem;
        justify-content: center;
        line-height: 0;
        font-size: 14px;
    }
    
    .fa-star.bleu{
        color: #0065FC;
    }
    
    .div_stars{
        display: inline-flex;
        font-size: 37px;
        width: 80%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 20px;
    }
    
    .stars{
        display: flex;
        justify-content: flex-start;
    }

    .conteneur3{
        width: 85%;
        height: 1380px;
        margin : auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: transparent;
    }

    .conteneur3_1, .conteneur3_2{
        height: 620px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .conteneur3_2{
        padding-bottom: 1px;
    }

    .div_img{
        width: 100%;
        height: 60%;
    }
    
    .imghotel{
        width: 100%;
        height: 100%;
        border-radius: 15px 15px 0px 0px;
    }
    
    .titre3{
        width: 90%;   
        height: 50px;
        margin-left: 3%;
        
    }
    
    .nomhotel{
        margin: 0px
    }

    .hotel1, .hotel2, .hotel3, .hotel4, .hotel5, .hotel6{
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 100%;
        height: 180px;
        padding: 5px;
        border-radius: 20px;
        box-shadow:  2px 2px 10px #b6b6b6; 
    }
    
    .descriptionimghotel{
        line-height: 10px;
        width: 100%;
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 3%;
        margin-left: 3%;
    }
    
    .txt{
        margin: 0;
    }
    
    .nomhotel{
        line-height: 0;
    }


    .plus{
        width: 100%;
        padding-bottom: 0px;
        margin-left: 3%;
    }

    .conteneur5{
        width: 85%;
        height: 1350px;
        margin: auto;
        display: flex;
        flex-direction: column;
        margin-top: 3%;
    }

    #section_activites{
        margin-top: 0px;
    }
    
    .titre5{
        width: 80%;
        padding-top: 3%;
        padding-left: 9%;
    }

    .activite1, .activite2, .activite3, .activite4, .activite5, .activite6 {
        width: 100%;
        height: 200px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        box-shadow:  2px 2px 10px #e2e2e2;
    }

    .activite2_3, .activite5_6{
        width: 100%;
        height: 390px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .div_imgactivite, .div_imgactivite2, .div_imgactivite3{
        width: 100%;
        height: 150px;
    }

    .imgactivite, .imgactivite2, .imgactivite3{
        width: 100%;
        height: 100%;
        border-radius: 20px 20px 0px 0px;
    }
    
    .titreimgactivite{
        margin-left: 4%;
        height: 100%;
        font-size: 16px;
    }
    

    footer{
        width: 100%;
        height: 450px;
        background-color: #F2F2F2;
        margin-top: 18%;
    }
    
    .footer{
        width: 85%;
        height: 370px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .section_footer1{
        margin-left: 10px;
    }
    
    .section_footer2{
        margin-left: 10px;
    }
}