@media all and (min-width: 780px){
    .conteneur1_tab{
        display: none;
    }

    .titre1_2_tab{
    display: none;
    }

    .div_recherche_tab{
    display: none;
    }

    .filtres_tab{
    display: none;
    }

    .conteneur4_tab{
    display: none;
    }

    .conteneur3_tab{
    display: none;
    }

    #section_activites_tab{
    display: none;
    }

    .footer_tab{
        display: none;
    }
}




@media all and (max-width: 780px) and (min-width: 376px){
    html{
        width: 780px;
        margin: auto;
    }
    
    body{
        width: 780px;
        margin: auto;
        padding-left: 0px;
    }
    
    #block_page{
        width: 85%;
        margin: auto;
    }

    .conteneur1_pc{
        display: none;
    }

    .conteneur1_tab{
        display: flex;
        justify-content: space-between;
    }
    
    .logo_reservia{
        width: 65%;
    }
    
    .navigation{
        display: flex;
        justify-content: space-around;
        width: 50%;
    }

    .conteneur2{
        margin-bottom: 3%;
    }
    
    .div_recherche{
    display: none;
    }

    .div_recherche_tab{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        border: 2px #e2e2e2 solid;
        border-radius: 15px;
       
    }
    
    
    .icone_position{
        width: 17%;
        background-color: #F2F2F2;
        border-radius: 15px 0px 0px 15px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .clavier{
        width: 58%;
        padding-left: 5%;
    }
    
    .bouton{
        width: 20%;
        background-color:#0065FC; 
        border-radius: 0px 15px 15px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .fa-search{
        color: white;
    }
    
    .lien_span{
        position: absolute;
        width: 120px;
        height: 55px;
        z-index: 2;
        top: 173px;
        left: auto;
    }

    .filtres{
        display: none;
    }

    .filtres_tab{
        width: 100%;
        height: 125px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top : 4%;
        margin-bottom : 2%;
        border-radius: 10px;
        
    }
    
    .eco_famillial_rom{
        display: flex;
        justify-content: space-between;
        height: 55px;
        width: 100%;
    }
    
    .economique{
        width: 185px;
        height: 50px;
        display: flex;
        border: 2px #e2e2e2 solid;
        border-radius: 50px;
        cursor: pointer;
    }
    
    .famillial{
        width: 160px;
        height: 50px;
        display: flex;
        align-items: center;
        border: 2px #e2e2e2 solid;
        border-radius: 50px;
        cursor: pointer;
    }
    
    .romantique{
        width: 185px;
        height: 50px;
        display: flex;
        align-items: center;
        border: 2px #e2e2e2 solid;
        border-radius: 50px;
        cursor: pointer;
    }
    
    .animaux{
        width: 250px;
        height: 50px;
        display: flex;
        align-items: center;
        border: 2px #e2e2e2 solid;
        border-radius: 50px;
        cursor: pointer;
    }
    
    .icone_economique{
        width: 53px;
        height: 50px;
        display: flex;
        justify-content: center;
        background-color: #DEEBFF;
        align-items: center;
        border-radius: 50px 50px 50px 50px;
    }
    
    .icone_famillial{
        width: 53px;
        height: 50px;
        padding: 2px;
        display: flex;
        justify-content: center;
        background-color: #DEEBFF;
        align-items: center;
        border-radius: 50px 50px 50px 50px;
    }
    
    .icone_romantique{
        width: 53px;
        height: 50px;
        display: flex;
        justify-content: center;
        background-color: #DEEBFF;
        align-items: center;
        border-radius: 50px 50px 50px 50px;
    }
    
    .icone_animaux{
        width: 53px;
        height: 50px;
        display: flex;
        justify-content: center;
        background-color: #DEEBFF;
        align-items: center;
        border-radius: 50px 50px 50px 50px;
    }
    
    .nom_filtre{
        width: 73%;
        display: flex;
        justify-content: center;
    }
    
    .nom_filtre1{
        width: 73%;
        display: flex;
        justify-content: center;
    }

    .texte500{
        width: 66%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .section_hebergements_trending{
        display: none;
    }

    .conteneur4_tab {
        width: 94%;
        height: 350px;
        background-color: #F2F2F2;
        padding: 20px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 3%;
    }
    
    .hotel7_8{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    
    .hotel7{
        display: flex;
        background-color: white;
        height: 130px;
        width: 45%;
        border-radius: 20px;
        padding: 5px;
        box-shadow:  2px 2px 20px #b6b6b6;
        cursor: pointer;
        margin: auto;
    }
    
    .hotel8{
        display: flex;
        background-color: white;
        height: 130px;
        width: 45%;
        border-radius: 20px;
        padding: 5px;
        box-shadow:  2px 2px 20px #b6b6b6;
        cursor: pointer;
        margin: auto;
    }
    
    .hotel9{
        display: flex;
        background-color: white;
        height: 130px;
        width: 45%;
        border-radius: 20px;
        padding: 5px;
        box-shadow:  2px 2px 20px #b6b6b6;
        margin-left: 2%;
    }
    
    .imghotel7{
        width: 35%;
        height: 100%;
        border-radius: 15px 0px 0px 15px;
        background-image: url(images/hebergements/4_small/soleil\ du\ matin.jpg);
        background-size: cover;
    }
    
    .imghotel8{
        width: 35%;
        height: 100%;
        border-radius: 15px 0px 0px 15px;
        background-image: url(images/hebergements/4_small/au\ coeur\ de\ leau.jpg);
        background-size: cover;
    }
    
    .imghotel9{
        width: 35%;
        height: 100%;
        border-radius: 15px 0px 0px 15px;
        background-image: url(images/hebergements/4_small/tout\ bleu\ et\ blanc.jpg);
        background-size: cover;
    }
    
    .titre4{
        width: 90%;
        height: 30px;
        margin-left: 2%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .icone_trend{
        cursor: pointer;
    }

    .conteneur3_tab {
        width: 94%;
        background-color: #F2F2F2;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
    }
    
    .conteneur3_1{
        height: 230px;
        display: flex;
        justify-content: space-around;
    }
    .conteneur3_2{
        height: 230px;
        display: flex;
        justify-content: space-around;
    }
    
    .conteneur3_3{
        height: 230px;
        display: flex;
        justify-content: space-around;
    }
    
    
    
    
    
    .hotel1{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: white;
        width: 45%;
        height: 205px;
        padding: 5px;
        border-radius: 20px;
        box-shadow:  2px 2px 20px #b6b6b6;
        cursor: pointer;
        margin: auto;
    }
    
    .hotel2{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: white;
        width: 45%;
        height: 205px;
        padding: 5px;
        border-radius: 20px;
        box-shadow:  2px 2px 20px #b6b6b6;
        cursor: pointer;
        margin: auto;
    }
    
    .hotel3{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: white;
        width: 45%;
        height: 205px;
        padding: 5px;
        border-radius: 20px;
        box-shadow:  2px 2px 20px #b6b6b6;
        cursor: pointer;
        margin: auto;
    }
    
    .hotel4{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: white;
        width: 45%;
        height: 205px;
        padding: 5px;
        border-radius: 20px;
        box-shadow:  2px 2px 20px #b6b6b6;
        cursor: pointer;
        margin: auto;
    }
    
    .hotel5{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: white;
        width: 45%;
        height: 205px;
        padding: 5px;
        border-radius: 20px;
        box-shadow:  2px 2px 20px #b6b6b6;
        cursor: pointer;
        margin: auto;
    }
    
    .hotel6{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: white;
        width: 45%;
        height: 205px;
        padding: 5px;
        border-radius: 20px;
        box-shadow:  2px 2px 20px#b6b6b6;
        cursor: pointer;
        margin: auto;
    }
    
    .imghotel{
        width: 100%;
        height: 60%;
        border-radius: 15px 15px 0px 0px;
        background-image: url(images/hebergements/4_small/cannebiere.jpg);
        background-size: cover;
    }
    
    .imghotel2{
        width: 100%;
        height: 60%;
        border-radius: 15px 15px 0px 0px;
        background-image: url(images/hebergements/4_small/port.jpg);
        background-size: cover;
    }
    
    .imghotel3{
        width: 100%;
        height: 60%;
        border-radius: 15px 15px 0px 0px;
        background-image: url(images/hebergements/4_small/mouettes.jpg);
        background-size: cover;
    }
    
    .imghotel4{
        width: 100%;
        height: 60%;
        border-radius: 15px 15px 0px 0px;
        background-image: url(images/hebergements/4_small/hotel\ de\ la\ mer.jpg);
        background-size: cover;
    }
    
    .imghotel5{
        width: 100%;
        height: 60%;
        border-radius: 15px 15px 0px 0px;
        background-image: url(images/hebergements/4_small/panier.jpg);
        background-size: cover;
    }
    
    .imghotel6{
        width: 100%;
        height: 60%;
        border-radius: 15px 15px 0px 0px;
        background-image: url(images/hebergements/4_small/chez\ amina.jpg);
        background-size: cover;
    }
    
    .titre3{
        width: 90%;   
        height: 50px;
        margin-left: 3%;
        margin-top: 1%;
    }

    .plus{
        height: 5%;
        width: 25%;
        display: flex;
        flex-direction: column;
        align-content: center;
        cursor: pointer;
        padding-left: 3%;
    }

    #ancre1{
        margin: auto;
    }
    
    .description{
        padding-left: 3%;
    }
    
    .nomhotel{
        margin: 0px
    }
    
    .txt{
        margin: 0px;
        font-size: 15px;
    }
    
    .descriptionimghotel{
        line-height: 1;
        width: 80%;
        height: 35%;
        display: flex;
        flex-direction: column;
        justify-content:  space-around;
        margin-left: 4%;
        margin-bottom: 1%;
    }
    
    
    .fa-star {
        color: #e2e2e2;
        cursor: pointer;
        padding: 0.0625rem;
    }
    
    .fa-star.bleu{
        color: #0065FC;
    }
    .stars{
        display: inline-flex;
    }

    #section_activites{
        display: none;
    }

    #section_activites_tab{
        margin-top: 50px;
        margin-bottom: 3%;
        height: 1050px;
      
    }
    
    .titre5{
        margin-left: 2%;
        padding-bottom: 1%;
    }
    
    .conteneur5_tab{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 1000px;
        margin-bottom: 50px;
        margin: auto;
    }
    
    .conteneur5_1{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 48%;
        margin: auto;
    }
    
    .conteneur5_2{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 48%;
        margin: auto;
    }
    
    .activite1{
        width: 45%;
        height: 100%;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        box-shadow:  2px 2px 20px #e2e2e2;
    }
    
    .activite2_3{
        display: flex;
        flex-direction: column;
        width: 45%;
        height: 100%;
    }
    
    .activite2{
        box-shadow:  2px 2px 20px #e2e2e2;
        border-radius: 20px;
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: column;
    }
    
    .activite3{
        box-shadow:  2px 2px 20px #e2e2e2;
        border-radius: 20px;
        width: 100%;
        height: 40%;
        margin-top: 10%;
        display: flex;
        flex-direction: column;
    }
    
    .activite4{
        width: 45%;
        height: 100%;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        box-shadow:  2px 2px 20px #e2e2e2;
    }
    
    .activite5_6{
        display: flex;
        flex-direction: column;
        width: 45%;
        height: 100%;
    }
    
    .activite5{
        box-shadow:  2px 2px 20px #e2e2e2;
        border-radius: 20px;
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    
    .activite6{
        box-shadow:  2px 2px 20px #e2e2e2;
        border-radius: 20px;
        width: 100%;
        height: 40%;
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    
    .imgactivite1{
        width: 100%;
        height: 90%;
        border-radius: 15px 15px 0px 0px;
        background-image: url(images/activites/4_small/vieux\ port.jpg);
        background-size: cover;
    }
    
    .imgactivite2{
        width: 100%;
        height: 85%;
        border-radius: 15px 15px 0px 0px;
        background-image: url(images/activites/4_small/fort\ de\ paumegues.jpg);
        background-size: cover;
    }
    
    .imgactivite3{
        width: 100%;
        height: 85%;
        border-radius: 15px 15px 0px 0px;
        background-image: url(images/activites/4_small/frioul.jpg);
        background-size: cover;
    }
    
    .imgactivite4{
        width: 100%;
        height: 90%;
        border-radius: 15px 15px 0px 0px;
        background-image: url(images/activites/4_small/par\ national.jpg);
        background-size: cover;
    }
    .imgactivite5{
        width: 100%;
        height: 85%;
        border-radius: 15px 15px 0px 0px;
        background-image: url(images/activites/4_small/notre\ dame.jpg);
        background-size: cover;
    }
    
    .imgactivite6{
        width: 100%;
        height: 85%;
        border-radius: 15px 15px 0px 0px;
        background-image: url(images/activites/4_small/parc\ longchamp.jpg);
        background-size: cover;
    }
    
    
    .titreimgactivite{
        height: 12%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 4%;
    }

    .fa-map-marker-alt{
        vertical-align: middle;
        
    }
    
    footer{
        background-color: #F2F2F2;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin: auto;
    }

    .footer{
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 85%;
    }

    .section_footer1{
        margin-left: 0px;
    }
    
    .section_footer2{
        margin-left: 0;
    }

    .titre_footer{
        cursor: pointer;
    }
    
    .txt_footer{
        font-size: 14px;
    }
    
}   